<h1>Seafood Shack</h1>
<body>

    <tbody>
	<p>Find me in app/views/menu/index.html.erb</p>
	 <% @items.each_with_index do |item, i| %>
	 <tr>
	 	<td><%= item['Item'] %></td>
	 	<td><%= item['Item_Menu'] %></td>
	 	<td><%= item['Description'] %></td>
	 	<td><%= item['_id'] %></td>
	 	<% id = item['_id'] %>

	 	<td><%= link_to "Delete", menu_delete_path(:id => "#{id}")%></td>
	 	<br />
	 	
	 </tr>
	 <% end %>
</body>
